version: "3"
services:

  moviesapi:
    build: .
    ports:
      - "3000:3000"
    networks:
      - backend

  mongo:
    image: mongo
    volumes:
      - ./.mongodata:/data/db
    ports:
      - "27017:27017"
    networks:
      - backend

networks:
  backend:
